<p>You have received a new message from your portfolio contact form:</p>
<h2>Contact Details</h2>
<strong>Email:</strong> {{ .FromEmail }}<br>
<strong>Subject:</strong> {{ .Subject }}</p>
<br/>
<br/>
